.map_container {
  height: 750px;
  width: 750px;
  margin: 0 auto;
  border-radius: 60%;
}

.sidebar {
  display: none;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .map_container {
    width: 325px;
    height: 325px;
    border-radius: 45%;
  }
}