.message {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.artists_map_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.artists_container {
  width: 40%;
  display: flex;
}

.artists_container ul {
  display: flex;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  justify-content: flex-start;
  height: 723px;
  gap: 57px;
  align-items: center;
}

.artists_container ul li {
  width: 100%;
  height: fit-content;
}

.artists_container ul li ul {
  display: block;
  height: 150px;
  overflow-y:hidden;
}

.map_container {
  height: 750px;
  width: 750px;
  border-radius: 60%;
}

.sidebar {
  display: none;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .message {
    font-size: 12px;
  }
  .artists_map_container {
    flex-direction: column;
    gap: 30px;
  }
  .map_container {  
    width: 325px;
    height: 325px;
    border-radius: 45%;
  }
  .artists_container {
    width: 100%;
    display: flex;
  }

  .artists_container ul {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: none;
    min-height: 60px;
    max-height: 400px;
    height: 100%;
    gap: 57px;
    padding-right: 0px;
    margin-bottom: 10px;
  }

  .artists_container ul li ul {
    display: block;
    height: 100%;
    overflow:hidden;
    padding-right: 0px;
    margin: 0;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1200px) {
  .map_container {  
    width: 620px;
    height: 620px;
    border-radius: 45%;
  }
  .message {
    font-size: 12px;
  }
  .artists_map_container {
    flex-direction: column;
    gap: 30px;
  }
  .artists_container {
    width: 100%;
  }
  .artists_container ul li ul {
    display: flex;
    height: 100%;
    overflow:hidden;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    height: 29vw;
  }

  .artists_container ul {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: none;
    min-height: 60px;
    max-height: 510px;
    height: 100%;
    gap: 57px;
    padding-right: 0px;
  }
}