.portfolio_container {
  display: flex;
  flex-direction: row;
  background-image: none;
  padding: 0;
}

.artist_desc_container, .projects_container li {
  padding: 20px;
}

.artist_desc {
  font-size: 30px;
  text-align: center;
}

.visual_desc {
  font-size: 30px;
}

.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  width: 66%;
}

.project_title_container {
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

.project_title {
  text-align: center;
  font-family: compress;
  font-weight: 500;
  font-size: 60px;
  margin: 0;
}

.visual_project_container {
  background-color: var(--purple);
}

.sound_project_container {
  background-color: var(--black);
}

.visual_project_container, .sound_project_container {
  height: -webkit-fill-available;
}

.artist_name {
  font-family: compress;
  font-weight: 500;
  font-size: 50px;
  margin: 0 0 20px 0;
  text-align: center;
}

.artist_desc_container {
  background-color: var(--yellow);
  color: var(--purple);
  width: 34%;
}

.sound_desc {
  margin-bottom: 0;
  font-size: 30px;
}

.artist_desc, .visual_desc, .sound_desc {
  font-weight: 500;
}

.visual_desc div iframe {
  width: 100%;
  min-height: 500px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1140px) {
  .portfolio_container {
    padding: 0; 
    flex-direction: column;
    text-align: center;
  }
  .artist_desc_container {
    width: 100%;
  }
  .projects_container {
    width: 100%;
  }
  .visual_desc div iframe {
    min-height: 300px;
  }
}