.portfolio_container {
  display: flex;
  flex-direction: row;
  background-image: none;
  padding: 0;
}

.artist_desc_container, .projects_container li {
  padding: 20px;
}


.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 66%;
}

.project_title_container {
  padding: 0;
  margin: 0;
}

.project_title {
  text-align: center;
  font-family: compress;
  font-weight: 500;
  font-size: 35px;
  margin: 0;
}

.visual_project_container {
  background-color: var(--purple);
}

.sound_project_container {
  background-color: var(--black);
}

.artist_name {
  font-family: compress;
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 20px 0;
  text-align: center;
}

.artist_desc_container {
  background-color: var(--yellow);
  color: var(--purple);
  width: 34%;
}

.sound_desc {
  margin-bottom: 0;
}

.artist_desc, .visual_desc, .sound_desc {
  font-weight: 500;
}

@media only screen and (max-width: 640px) {
  .portfolio_container {
    padding: 0; 
    flex-direction: column;
  }
  .artist_desc_container {
    width: 100%;
  }
  .projects_container {
    width: 100%;
  }
}