.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: var(--yellow); 
  padding: 20px 0;
  color: var(--purple);
}

.footer .first_container .second_container {
  font-weight: 500;
}

.footer .first_container .second_container h4 {
  margin: 0;
  padding: 0 0 10px 0;
  font-family: Compress;
  font-size: 30px;
  font-weight: 500;
}

.footer .logos_container {
  padding-bottom: 35px;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer .second_container .email_container {
  padding-bottom: 10px;
}