.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: var(--yellow);
  padding: 20px 0;
  color: var(--purple);
}

.first_container .second_container {
  font-weight: 500;
}

.first_container .second_container h4 {
  margin: 0;
  padding: 0 0 10px 0;
  font-family: Compress;
  font-size: 30px;
  font-weight: 500;
}

.logos_container {
  padding-bottom: 35px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.second_container .email_container {
  padding-bottom: 10px;
}

.author_container {
  margin: 40px 0 0 0;
  font-size: 13px;
  background-color: transparent;
}

.author_link {
  color: var(--purple);
  font-weight: 600;
  transition: 0.5s;
}

.author_link:hover {
  font-size: 110%;
  font-weight: 800;
  transition: 0.5s;
}
