:root {
  --white: #FFFFFF;
  --purple: #2D1A47;
  --yellow: #FEEA27;

  --dark-green: #49adaa;
  --light-green: #9bfaf6;
  --blue: #4972d7;
  --light-blue: #779ad2;
}

body {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.my-link {
  text-decoration: none;
  transition: 0.5s;
}

.my-link:hover {
  transition: 0.5s;
  font-size: 18px;
}

.my-link:visited {
  color: var(--black);
}