:root {
  --black: #000000;
  --white: #FFFFFF;
  --purple: #2D1A47;
  --yellow: #FEEA27;
}

@font-face {
  font-family: "Compress";
  src: url("../asset/Compress/Compress.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--purple);
  color: var(--yellow);
}

.main-container{
  background-image: url("/backgrounds/yellow-stars.png");
  padding: 40px 60px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.my-link {
  text-decoration: none;
  transition: 0.5s;
}

.my-link:hover {
  transition: 0.5s;
  font-weight: 800;
}

.my-link:visited, .my-link:link, .my-link:focus, .my-link:active {
  color: var(--purple);
}

.header-logo {
  width: 15vw;
  height: 8vw;
}

.home-logo {
  width: 17vw;
  height: 17vw;
}

.cibermedia-home-logo {
  height: 11vw;
}

.contact-logos {
  width: 9vw;
  height: 9vw;
}

h1.main-title {
  color: var(--yellow);
  font-family: compress;
  font-weight: 500;
  font-size: 6.2vw;
  margin: 0 0 70px 0;
  text-align: center;
}

h2.secondary-title {
  color: var(--yellow);
  font-family: compress;
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 70px 0;
  text-align: center;
}

h1.error404-title {
  text-align: center;
  font-family: compress;
  font-weight: 500;
  font-size: 80px;
  margin: 200px 0;
}

.font-family-compress {
  font-family: compress;
  font-weight: 500;
}

.mapboxgl-popup-content {
  background-color: var(--yellow);
  color: var(--purple);
  padding: 2px 12px;
  border-radius: 13px;
  font-family: compress;
  letter-spacing: 1px;
  font-size: 18px;
  box-shadow: 0px 0px 40px 5px rgba(254,234,39,0.75);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {border-left-color: var(--yellow);}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {border-right-color: var(--yellow);}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {border-top-color: var(--yellow);}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {border-bottom-color: var(--yellow);}

.mapboxgl-popup-close-button {
  display: none;
  color: var(--white);
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .main-container {
    padding: 30px;
  }
  h1.main-title, h2.secondary-title {
    margin: 0 0 30px 0;
  }
  .home-logo {
    width: 37vw;
    height: 17vw;
  }
  .header-logo{
    width: 8vw;
  }
  .contact-logos {
    width: 17vw;
    height: 17vw;
  }
}