:root {
  --black: #000000;
  --white: #FFFFFF;
  --purple: #2D1A47;
  --yellow: #FEEA27;
}

@font-face {
  font-family: "Compress";
  src: url("../asset/Compress/Compress.ttf");
}

body {
  margin: 0;
  background-color: var(--purple);
  color: var(--yellow);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.my-link {
  text-decoration: none;
  transition: 0.5s;
}

.my-link:hover {
  transition: 0.5s;
  font-weight: 800;
}

.my-link:visited, .my-link:link, .my-link:focus, .my-link:active {
  color: var(--black);
}

h1.main-title {
  color: var(--yellow);
  font-family: compress;
  font-weight: 500;
  font-size: 30px;
  margin: 30px;
}

h1.error404-title {
  text-align: center;
  font-family: compress;
  font-weight: 500;
  font-size: 80px;
  margin: 200px 0;
}