.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
  padding: 12px 30px;
  color: var(--purple);
}

.header h3 {
  font-family: Compress;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  width: 50px;
  margin: 0;
}

.header ul {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 430px;
  font-size: 16px;
  font-weight: 500;
}

.home_logo:hover {
  text-decoration: underline;
}