.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
  padding: 0px 60px;
  color: var(--purple);
  height: 11.2vw;
}

.header h3 {
  font-family: Compress;
  font-weight: 500;
  font-size: 1.85vw;
  line-height: 1.7vw;
  width: 50px;
  margin: 0;
  color: var(--purple);
}

.header ul {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 51%;
  font-size: 1.5vw;
  font-weight: 500;
}

.home_logo:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones */

  .header {
    padding: 0 20px;
  }

  .header h3 {
    width: 44px;
  }

  .header ul {
    width: 76%;
    font-size: 3vw;
  }

}