.multiple_logos_section {
  margin: 70px 0px;
  padding: 0;
  text-align: center;
  color: var(--white);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--purple);
  gap: 5vw;
}

.created_by {
  font-size: 18px;
}

.supported_by_container {
  font-size: 20px;
}

.created_by, .supported_by_container {
  background-color: var(--purple);
  width: 100%;
}

.supported_by_logos {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.special_thanks_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}

.special_thanks_logos {
  display: flex;
  
  align-items: center;
  gap: 8vw;
  justify-content: center;
}

.special_thanks_container li img {
  width: 14vw;
  height: 14vw;
}