.multiple_logos_section {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--white);
  background-color: var(--purple);
}

.created_by {
  font-size: 18px;
  background-color: var(--purple);
}

.supported_by_container {
  font-size: 12px;
}

.supported_by_logos {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}