.no_artists {
  font-family: Rubik;
  text-align: center;
  font-size: 45px;
}

.artist_name {
  font-size: 1.7vw;
}

.artist_description {
  font-size: 1.1vw;
}

.cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5vw 0;
}

.card_container {
  background-color: var(--yellow);
  color: var(--purple);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 46%;
  margin: 0;
  padding: 10px;
  border-radius: 6vw 0 6vw 0;
  box-shadow: 0px 0px 15px 5px var(--black);
  transition: 0.5s;
}

.text_desc_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card_container ul li {
  padding: 0 18px 10px 18px;
}

.card_container p, .card_container h3 {
  margin: 0;
  padding: 0;
}

.picture_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  border: 8px solid var(--purple);
  border-radius: 100%;
  text-align: center;
  transition: 0.3s;
}

.card_link {
  text-decoration: none;
  color: var(--purple);
  transition: 0.5s;
  font-size: 1vw;
}

.card_link:hover {
  text-decoration:underline;
  color: var(--white);
}

.img_link .picture_container:hover {
  box-shadow: 0px 0px 20px 5px var(--black);
  transition: 0.5s;
  border: 4px solid var(--white);
  color: var(--white);
}

.card_container:has(.img_link:hover), .card_container:has(.card_link:hover)   {
  box-shadow: 0px 0px 10px 1px var(--white);
  transition: 0.5s;
} 

.vinculate_link {
  color: var(--yellow);
  transition: 0.3s;
}

.vinculate_link:hover {
  text-decoration:underline;
  transition: 0.3s;
  color: var(--white);
  font-size: 105%;
}

@media only screen and (max-width: 1200px) {
  .no_artists {
    font-size: 16px;
  }
  .cards_container {
    flex-direction: column;
    gap: 8vw;
  }
  .card_container {
    width: 100%;
  }
  .card_container {
    border-radius: 18vw 0 18vw 0;
  }
  .picture_container {
    width: 32vw;
    height: 32vw;
    border: 4px solid rgba(45, 26, 71, 1);
  }

  .card_container .artist_name {
    font-size: 5.3vw;
  }

  .card_container .artist_description {
    font-size: 2.26vw;
  }
}