.cards_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 200px 0;
  gap: 23vw;
  flex-wrap: wrap;
}

.card_container {
  display: flex;
  flex-direction: column;
  height: 27vw;
  width: 27vw;
  border-radius: 100%;
}

.card_container:hover {
  background-color: var(--yellow);
  box-shadow: 0px 0px 50px 10px var(--yellow);
}

.member_name {
  font-family: Compress;
  font-weight: 500;
  font-size: 35px;
  margin: 20px;
  color: var(--yellow);
}

.member_description {
  margin: 0;
  color: var(--yellow);
}

@media only screen and (max-width: 500px) {
  .cards_container {
    flex-direction: column;
    margin-top: 40px;
    gap: 68vw;
  }
  .card_container {
    width: 71vw;
    height: 71vw;
  }
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
  .cards_container {
    flex-direction: column;
    margin-top: 40px;
    gap: 42vw;
  }
  .card_container {
    width: 35vw;
    height: 35vw;
  }
}
